body {
    background-color: #f7f7f7;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem;
    margin: 0 7rem;
}

header {
    display: flex;
    justify-content: space-between;
}

h1 {
    margin: 0 0 0 5rem;
}

header form {
    margin: 1rem 10rem 0 0;
}

button {
    font-size: 16px;
}

input {
    font-size: 14px;
}

input,
select {
    border: 1px solid gray;
    border-radius: 5px;
}

input:focus,
select:focus {
    outline: none;
    box-shadow: 0 0 5px #0073c5;
    transition-property: box-shadow;
    transition-duration: 0.2s;
}

input[type="text"] {
    margin-left: 0.5rem;
}

.summaryAndtransactionDiv {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#new-transaction {
    width: 40%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem 0;
}

.addNewAccountText,
#new-transaction input[type="text"],
#new-transaction select {
    /* width: 100%; */
    padding: 0.5rem;
    border: none;
    border-radius: 4px;
    /* margin-bottom: 1rem; */
}

#new-transaction select {
    width: 10rem;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

.accountSummaryBox {
    width: 35%;
    padding: 1rem;
    /* background-color: #f2f2f2; */
    border-radius: 4px;
}

.accountSummaryBox h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 0.5rem;
    border: 1px solid #ccc;
}

.accountSummaryBox th {
    text-align: left;
    background-color: #ddd;
}

table {
    width: 100%;
    margin-top: 2rem;
    border-collapse: collapse;
}

table th,
table td {
    padding: 0.5rem;
    border: 1px solid #ccc;
    text-align: center;
}

table th {
    background-color: #ddd;
    text-align: center;
}

select {
    width: 100%;
    padding: 0.5rem;
    border: none;
    border-radius: 4px;
    /* margin-bottom: 1rem; */
}

option {
    color: #333;
}

#transaction-options {
    display: flex;
    margin-bottom: 1rem;
}

#transaction-options label {
    margin-right: 1rem;
}

#transfer-target {
    display: none;
}

#transfer-direction {
    height: 100%;
    width: auto;
}

#new-transaction-category {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    align-items: flex-end;
    gap: 0 1rem;
}
.newCategory {
    display: flex;
}

/* #category div:first-child {
  width: 60%;
  margin-right: 1rem;
}

#category div:last-child {
  width: 40%;
} */

#category select {
    width: 100%;
}

#deposit-withdraw-target,
#transfer-target {
    height: 2rem;
    display: flex;
    align-items: center;
    gap: 0 1rem;
    margin-bottom: 1rem;
}

#newDescription {
    margin-bottom: 1rem;
    width: 100%;
}

#description-input {
    width: 80%;
    padding: 0.5rem;
    border: none;
    border-radius: 4px;
}

#accounts-menu {
    margin-bottom: 0;
}

.filiterBox {
    width: 20vw;
    display: flex;
    align-items: center;
}

.filiterBox label {
    white-space: nowrap;
}

#add-new-category-btn {
    margin-left: 0.5rem;
}

#transaction-options {
    position: relative;
}

input[name="transaction-option"] + label {
    width: 5.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: 2px solid #606365;
    color: #606365;
    border-radius: 0.5rem;
    padding: 0.5rem 0rem 0.5rem 3rem;
    margin: 0 1rem 0 0;
    cursor: pointer;
    letter-spacing: 0.06rem;
}

input[name="transaction-option"] {
    width: 1rem;
    height: 1rem;
    /* opacity: 0; */
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    display: none;
}

input[name="transaction-option"]:checked + label {
    background-color: #606365;
    color: white;
    transition-property: background-color, color;
    transition-duration: 0.2s;
}

/* images that have input[] right after themselfves */
#deposit-image,
#withdraw-image,
#transfer-image {
    position: absolute;
    width: 1.7rem;
    height: 1.7rem;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #f7f7f7;
    pointer-events: none;
    outline: none;
    box-sizing: border-box;
    border: 2px solid #f7f7f7;
}

#deposit-image:has(+ input[name="transaction-option"]:checked),
#withdraw-image:has(+ input[name="transaction-option"]:checked),
#transfer-image:has(+ input[name="transaction-option"]:checked) {
    border: 2px solid white;
    background-color: #606365;
}

#deposit-image {
    left: 0.8rem;
}

#withdraw-image {
    left: 10.5rem;
}

#transfer-image {
    left: 20.2rem;
}

.balloon-animation-parent {
    position: relative;
}

.balloon-down-animation,
.balloon-left-animation {
    position: absolute;
    opacity: 0;
    animation-name: notify;
    animation-duration: 20s;
    transition-property: opacity;
    pointer-events: none;
}

.balloon-down-animation {
    left: 65%;
    top: 0.5rem;
    transform: translate(-50%, -100%);
}

.balloon-left-animation {
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
}

@keyframes notify {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.balloon-down {
    position: relative;
    display: inline-block;
    margin: 1.5em 0;
    padding: 7px 10px;
    min-width: 120px;
    max-width: 100%;
    color: #555;
    font-size: 16px;
    background: #dfffd8;
}

.balloon-down:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -15px;
    border: 15px solid transparent;
    border-top: 15px solid #dfffd8;
}

.balloon-left {
    position: relative;
    display: inline-block;
    margin: 1.5em 0 1.5em 15px;
    padding: 7px 10px;
    min-width: 120px;
    max-width: 100%;
    color: #555;
    font-size: 16px;
    background: #dfffd8;
}

.balloon-left:before {
    content: "";
    position: absolute;
    top: 50%;
    left: -30px;
    margin-top: -15px;
    border: 15px solid transparent;
    border-right: 15px solid #dfffd8;
}

.balloon-down p,
.balloon-left p {
    margin: 0;
    padding: 0;
    font-size: 0.8rem;
}
